In [2]:
import pandas as pd

In [3]:

data = pd.read_csv("../scripts/results_new.csv")

In [20]:
data['test_mse'].max()

15.517392209113645

In [28]:
data['test_mse']

0      14.745704
1      14.745704
2      14.326154
3      14.745704
4      14.326154
         ...
955    15.467467
956          NaN
957          NaN
958    15.467467
959    15.467467
Name: test_mse, Length: 960, dtype: float64

In [30]:
cens = 0.2
temp = 0.0
k = 1
rep ='CNN'
dr = 0.5
use_cens = False
learning_rate = 1e-3

mask = data['cens']==cens
mask &= data['temp']==temp
mask &= data['k']==k
mask &= data['rep']==rep
mask &= data['dr']==dr
mask &= data['use_cens']==use_cens
mask &= data['learning_rate']==learning_rate

mses = data[mask][['learning_rate', 'batch_size', 'epochs' ,'test_mse']]

mses = data[mask]['test_mse']

#print(mses)

print(mses.mean(), mses.std(), mses.min())

15.517392209113643 1.9860273225978185e-15 15.517392209113645

In [13]:
mses

     learning_rate  batch_size  epochs   test_mse
499         0.0001         128     100  14.745704
504         0.0001         128     100  14.745704
511         0.0001         128     100  14.745704
512         0.0001         128     100  14.745704
516         0.0001         128     100  14.745704
538         0.0010         128     100  15.517392
544         0.0010         128     100  15.517392
547         0.0010         128     100  15.517392
554         0.0010         128     100  15.517392
556         0.0010         128     100  15.517392

In [73]:

names = ['filename', 'experiment', 'model', 'k', 'temp', 'dropout', 'censoring', 'seed','use_cens', 'test_mse', 'train_mse']
data = pd.read_csv("../scripts/results_bl_1.csv", header=None, names=names)

In [74]:
censoring = 0.2
temp = 0.1
k = 3
model ='NN'
dropout = 0.5

mask = data['censoring']==censoring
mask &= data['temp']==temp
mask &= data['k']==k
mask &= data['model']==model
mask &= data['dropout']==dropout

mses = data[mask]['test_mse']

print(mses.mean(), mses.std(), mses.min())

15.825674096973165 0.25436684228356893 15.645809577885444

In [ ]:
data